.login-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--header-font-color);
}

.login-form__container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.login-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login-form__animation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0 0 12px;
    padding: 30px;
    position: relative;
}


.login-form__wrapper,
.login-form__animation {
    flex: 1 1 50%;
}

.login-form__animation-img {
    max-width: 100%;
    height: auto;
}

.attribution-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 8px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.login-form__animation:hover .attribution-link {
    opacity: 1;
}

.login-form__title {
    font-family:  'Roobert', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--dark-burgundy);
    margin-bottom: 10px;
}

.login-form__subtitle {
    font-family: 'Roobert', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--dark-burgundy);
    margin-bottom: 20px;
}

.login-form__input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: none;
    margin-bottom: 10px;
}

.login-form__input:focus {
    border-color: var(--muted-color);
    box-shadow: 0 0 0  2px var(--secondary-color);
}

.login-form__password-recovery {
    text-align: right;
    margin-bottom: 15px;
}

.login-form__link {
    font-size: 14px;
    color: var(--deep-red-wine);
    cursor: pointer;
    text-decoration: none;
}

.login-form__submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--deep-red-wine);
    border: none;
    color: var(--header-font-color);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.login-form__submit-btn:hover {
    background-color: var(--rich-merlot);
}


.login-form__alert {
    display: block;
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.login-form__alternative {
    align-items: center;
    margin-top: 20px;
}

.login-form__alternative p {
    margin-bottom: 10px;
    color: var(--dark-burgundy);
}

.login-form__alt-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.login-form__register {
    font-size: 14px;
    color: #888888;
    margin-top: 15px;
    text-align: center;
}

.login-form__register-link {
    color: var(--deep-red-wine);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}