:root {
    --primary-color: #8C1C13;
    --secondary-color: #BF4342;
    --header-font-color: #E7D7C1;
    --dark-burgundy: #3B0A0C;
    --deep-red-wine: #5C2B2D;
    --rich-merlot: #7D3B3E;
    --accent-color: #A78A7F;
    --muted-color: #735751;
    --white-color: white;
}


/* Global alternative login button styles */
.alt-login-btn {
    background-color: var(--deep-red-wine);
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alt-login-btn:hover {
    background-color: var(--rich-merlot);
}
