:root {
    --primary-color: #8C1C13;
    --secondary-color: #BF4342;
    --header-font-color: #E7D7C1;
    --dark-burgundy: #3B0A0C;
    --deep-red-wine: #5C2B2D;
    --rich-merlot: #7D3B3E;
    --accent-color: #A78A7F;
    --muted-color: #735751;
    --white-color: white;
}